body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;

}

.StartSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header {
    text-align: center;
}

.StartSection__btn {
    width: 10rem;
    height: 4rem;
    font-size: 2rem;
    border-radius: 10px;
    background-color: #5c7d9f;
    margin: 1.5rem;


}

.header__text {
    font-size: 5rem;

}

.StartSection__text {
    font-size: 3rem;
    color: red;
    background-color: #f0f1f1;
    border-radius: 10px;

}

.sellerContent {
    padding-bottom: 20%;
}

.productSection__form {
    width: 20rem;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.productSection__List ,#sellerProductsList{
    width: 80vw;
    padding: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;


}

#productList,
#productSearchList {
    font-size: 1.5rem;
}

.productSection__form__inputs__input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.productSection__form__inputs__dropdown {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contactSection__form__button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.contactSection__form__button:hover {
    background-color: #0056b3;
}

#searchInput{
    width: 40vw;
    padding: 10px;
    margin-top: 1.2rem;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 1rem;
}

#searchButton ,#buyersearchButton{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.productSection__search {
    display: flex;
    flex-direction: column;
    align-items: center;
}







input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}